<!DOCTYPE html>
<html lang="en">

<head>
    <title>BenderFactory Stems for Season 2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        div#ipfs {
            text-align: center;
            padding: 10px;
        }

        div#ipfs .pre {
            font-family: monospace;
            padding: 5px;
            margin: 5px;


        }
    </style>
</head>

<body>
    <div style="width: 100%">
        <strong style="text-align: center; display: block">
            Terms of Service: <a href="{{tos}}">must read before downloading</a>
        </strong>
    </div>

    <div id="ipfs" style="display: none">
        If you have your own IPFS node, you can download this entire season by running:

        <div id="download-command" class="pre">ipfs get hash</div>

        Consider pinning this hash to help make it available for other IPFS users!
    </div>


    <table>

        <tr>
            <td>
                <a href="S02E06-J1/">Season 2, Episode 6 -- Jam 1</a>
            </td>
            <td>
                <audio controls src="S02E06-J1/ogg/Colin Benders - S02E06 - Jam 1 - 17-201023_1912.ogg"
                    preload="metadata"></audio>
            </td>
        </tr>


        <tr>
            <td><a href="S02E07-J1/">Season 2, Episode 7 -- Jam 1</a></td>
            <td> <audio controls src="S02E07-J1/ogg/Colin Benders - S02E07 - Jam 1 - 17-201026_1855.ogg"
                    preload="metadata"></audio></td>
        </tr>

        <tr>
            <td>
                <a href="S02E07-J2/">Season 2, Episode 7 -- Jam 2</a>
            </td>
            <td>
                <audio controls src="S02E07-J2/ogg/Colin Benders - S02E07 - Jam 2 - 17-201026_1855.ogg"
                    preload="metadata"></audio>
            </td>
        </tr>

        <tr>
            <td><a href="S02E07-J3/">Season 2, Episode 7 -- Jam 3</a></td>
            <td>
                <audio controls src="S02E07-J3/ogg/Colin Benders - S02E07 - Jam 3 - 17-201026_1855.ogg"
                    preload="metadata"></audio>
            </td>
        </tr>

        <tr>
            <td>
                <a href="S02E08-J1/">Season 2, Episode 8 -- Jam 1</a>
            </td>
            <td>
                <audio controls src="S02E08-J1/ogg/Colin Benders - S02E08 - Jam 1 - 17-201027_1937.ogg"
                    preload="metadata"></audio>
            </td>
        </tr>
        <tr>
            <td>
                <a href="S02E08-J2/">Season 2, Episode 8 -- Jam 2</a>
            </td>
            <td>
                <audio controls src="S02E08-J2/ogg/Colin Benders - S02E08 - Jam 2 - 17-201027_1937.ogg"
                    preload="metadata"></audio>
            </td>
        </tr>
    </table>


    <script>
        if (window.location.pathname.substr(0, 6) === "/ipfs/") {
            document.querySelector("div#ipfs #download-command").innerText = "ipfs get " + window.location.pathname;
            document.querySelector("div#ipfs").style.display = "";
        }


    </script>
</body>

</html>