<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style.css" />
    <style>
        #filtercontrol {
            border-bottom: 2px solid darkblue;
            padding-bottom: 1em;
        }

        table#reclist {
            width: 100%;
        }

        table#reclist tr td {
            border-bottom: 1px dotted darkblue;
        }

        div#reclist {
            display: flex;
            flex-direction: column;
        }

        div#rec {
            display: flex;
            flex-direction: row;
        }

        div#rec>div {
            margin: 5px;
        }


    </style>

    <script>
        let tags_in_filter = [];

        function tag_filter(ev) {
            if (ev.cancelable) {
                ev.preventDefault();
            }
            let had_ctrl = ev.ctrlKey;
            let tag = ev.target.dataset.tag;

            let new_filter = (!tags_in_filter.includes(tag));


            if (had_ctrl) {
                if (new_filter) {
                    tags_in_filter.push(tag);
                } else {
                    tags_in_filter = tags_in_filter.filter((t) => t !== tag);
                }
            } else {
                if (tags_in_filter.length === 1 && tags_in_filter[0] === tag) {
                    tags_in_filter = [];

                } else {
                    tags_in_filter = [tag];
                }
            }


            document.querySelectorAll("span.tag").forEach((el) => {
                if (tags_in_filter.includes(el.dataset.tag)) {
                    el.classList.add("filtered");
                } else {
                    el.classList.remove("filtered");
                }
            });

            console.log(ev);
            console.log(tags_in_filter);
            do_filter(tags_in_filter);
        }

        function do_filter(tags_to_filter) {
            document.querySelectorAll("#rec").forEach((rec_elem) => {
                if (tags_to_filter.length === 0 || Array.from(rec_elem.querySelectorAll(".tag")).map((elem) => elem.dataset.tag).find((tag) => tags_in_filter.includes(tag)) !== undefined) {
                    // this element must be displayed
                    rec_elem.style.display = "";
                } else {
                    rec_elem.style.display = "none";
                }
            });

        }
    </script>
</head>

<body>

    <div id="container">

        <h2>Modular Mayhem -- {{ season.title }}</h2>

        <p>
            On this page you'll find all of the recordings and stems for {{ season.title }} of Modular Mayhem!
            You can preview the stereo mix, or explore and download the individual stems!
        </p>

        <div id="filtercontrol">
            Click to filter (contrl+click to select multiple):
            {% for tag in tag_set %}
            <span class="tag" data-tag="{{tag}}">{{tag}}</span>
            {% endfor %}
        </div>


        <table id="reclist">
            <!-- <div id="reclist"> -->
            {% for recording in season.recordings %}
            <tr id="rec">
                <!-- <div id="rec"> -->
                <td>
                    <a href="{{recording.data_folder}}">{{recording.title}}</a> ({{recording.recorded_date}})
                </td>
                <td>
                    <audio controls src="{{recording.data_folder}}/{{recording.stereo_mix.vorbis}}"
                        preload="metadata"></audio>
                </td>
                <td>
                    {% if recording.bpm.is_some() %}
                    {{ recording.bpm.as_ref().unwrap() }} bpm
                    {% endif %}
                </td>
                <td>
                    <!-- technical details of the recording here-->
                    {{recording.tracks.len()}} tracks
                </td>
                <td>
                    {{recording.duration()}}
                </td>
                <td>
                    {{recording.format_info()}}
                </td>
                <td>
                    {% for tag in recording.tags %}
                    <span class="tag" data-tag="{{tag}}">{{tag}}</span>
                    {% endfor %}
                </td>
            </tr> <!-- </div> -->
            {% endfor %}

        </table> <!-- </div> -->

        <div id="ipfs" style="display: none">
            If you have your own IPFS node, you can download this entire season by running:

            <div id="download-command" class="pre">ipfs get hash</div>

            Consider pinning this hash to help make it available for other IPFS users!
        </div>

        <div id="tos">
            <strong style="text-align: center; display: block">
                Terms of Service: <a href="ToS.txt">must read before downloading</a>
            </strong>
        </div>

    </div>


    <script>
        document.querySelectorAll("#filtercontrol>.tag").forEach((elem) => {
            elem.onclick = tag_filter;
        });

        if (window.location.pathname.substr(0, 6) === "/ipfs/") {
            document.querySelector("div#ipfs #download-command").innerText = "ipfs get " + window.location.pathname;
            document.querySelector("div#ipfs").style.display = "";
        }
    </script>
</body>

</html>